
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.primary-btn {
  border: solid 2px #f9aa33;
  background-color: #f9aa33;
  font-size: 14px;
  font-weight: 600;
  color: #0d1d27;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 4px;
}

.secondary-btn {
  border: solid 2px #383838;
  background-color: #383838;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 4px;
}